
<header id="about_head">
	
</header>

<div class="row" id="down_head_about">
	

</div>

<div class="row">
	<div class="col-xs-12 col-md-6 img-wrapp">
	

	 <%=image_tag("about/about7.png", height: "500", class: "img-responsive" ) %>
	
	</div>

  <div class="col-xs-12 col-md-6 img-wrapp">
  

   <%=image_tag("about/about8.png", height: "500", class: "img-responsive" ) %>
 
  </div>
</div>
	

</div>


<div class="row">
  <div class="col-xs-12 col-md-6">
  dgdfgfdg
  </div>
	<div class="col-xs-12 col-md-6">
<p>Gentrify biodiesel seitan +1 forage meh brunch sartorial. Asymmetrical distillery aesthetic 90's bushwick kinfolk, tumblr portland roof party selfies banjo mlkshk. Cardigan helvetica kitsch paleo celiac, listicle man braid pitchfork williamsburg banh mi letterpress. Man bun bespoke blog, letterpress readymade echo park chambray next level pickled semiotics bitters plaid. Mlkshk slow-carb normcore XOXO. Vegan seitan yr sriracha health goth. Fap before they sold out humblebrag leggings, disrupt pour-over trust fund paleo brooklyn pug.
</p>

<p>Wolf marfa yr, bespoke messenger bag art party neutra brooklyn trust fund ennui church-key. XOXO marfa thundercats drinking vinegar 90's. Drinking vinegar 90's gastropub brooklyn disrupt, cray art party asymmetrical ethical chartreuse iPhone keytar. Jean shorts bitters direct trade cray blog small batch, lumbersexual blue bottle. Slow-carb poutine single-origin coffee, tote bag iPhone semiotics normcore paleo cardigan chia shoreditch distillery. Chicharrones whatever four loko you probably haven't heard of them, stumptown church-key selfies mustache. Fixie stumptown intelligentsia narwhal try-hard raw denim vegan, viral selfies direct trade blog.
</p>
	</div>
</div>


