<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <ul class="help">
        <li><a href="#Customer_Service">Customer Service</a></li>
  	    <li><a href="#Shipping&delivery">Shipping & Delivery</a></li>
  	    <li><a href="#ReturnPolicy">Return Policy / Exchanges</a></li>
  	    <li><a href="#stockist">Stockist / Brand Inquiries</a></li>
  	    <li><a href="#webissues">Web Issues</a></li>
  	    <li><a href="#faq">FAQ</a></li>
  	  </ul>  
    </div>

    <div class="col-md-8 col-xs-12">

    	<h3 id="Customer_Service">Customer Service</h3>
    	<p>Call: +1 407-745-0958
			Email: info@makr.com
				Monday—Friday
				9am—5pm EST</p>

				<br>

		<h3 id="Shipping&delivery">Customer Service</h3>	
			<p> Standard shipping hours are Monday – Friday, 9 am – 5pm EST.

				Please allow up to 3 days for your order to ship as some of our items are made to order.

				You will receive an e-mail containing your tracking number as soon as the label is printed. This information may take up to 12 hours to be available.

				Orders shipped 1st class USPS will NOT have tracking information.

				Once your order has shipped from the store, status is available from the carrier. We are happy to help but we only have as much information as provided by carrier tracking.

				Hlín Reykdal will not be responsible for any items damaged or lost during transit. Any claims should be filed with the respective carrier.

			</p>	

				<br>

		<h3 id="ReturnPolicy">Return Policy / Exchanges</h3>
			<p>Shipping and handling fees are non-refundable.

			   Merchandise must be returned or exchanged within 30 days of delivery confirmation date.

			   Returned merchandise must be in like new condition.

               All returns / exchanges should be insured to avoid damage or loss during transit.

               Your return will be processed as soon as it is received. Please allow 3 – 10 days for this to reflect in your account.

               To exchange an item please contact luke@makr.com for assistance.

               All returns and exchanges should be sent to: 
               MAKR RETURNS
               444 West New England Avenue
               Suite 102
               Winter Park, Florida 32789

             </p>

             <br>

        <h3 id="stockist">Stockist / Brand Inquiries</h3>
        	<p>Please contact jeramiah@makr.com for all stockist requests and other related information.

			To become a Makr stockist, please send a link to your website, images of your space, other brands carried and items of interest. We will review your request and respond promptly.

			For all press related inquiries and other brand specific requests including special projects please contact info@makr.com.

			We are unable to make custom pieces for individuals most of the time, however, may be able to accommodate special projects with larger quantities.</p>
			
			<br>

		<h3 id="webissues">Web issues</h3>	
			<p>If you are having trouble checking out or experiencing other website related issues, please call customer service at 407.745.0958 or e-mail info@makr.com.</p>

			<br>

		<h3 id="faq">Faq</h3>	

			<h5>When will my order ship?</h5>
				<p>Orders in stock are usually shipped within 1–3 business days. For small goods, please allow up to 3–5 days for your order to go out.
				</p>
				<br>
			<h5>What shipping methods do you use?</h5>
				<p>We primarily use USPS or UPS, however we can make exceptions for stockists and bulk orders.</p>

				<br>
			<h5>Where do you ship?</h5>
				<p>Almost everywhere. Email info@makr.com if you’re having trouble placing an order.</p>
				<br>


			<h5>What if my tracking number doesn’t work?</h5>
				<p>Confirmation is sent when your shipping label is printed, please allow up to 12 hours for this information to update. Please see Shipping & Delivery section for more information.</p>


			<h5>How long does it take for a refund to go through?</h5>
				<p>We will process your return as soon as we receive it. Please allow 3–10 days for your bank account to update.</p>
				<br>

			<h5>Do you take custom orders?</h5>
				<p>We are able to make custom pieces for individuals most of the time, however we can accommodate special projects with larger quantities. Email info@makr.com for more information.</p>
				<br>

			<h5>Where can I purchase your products?</h5>
				<p>All of our stockists are listed here</p>
				<br>

			<h5>What if I’m experiencing issues with your website?</h5>
				<p>If you are having trouble checking out or other website issues please call us at: 407-745-0958 or email us at info@makr.com. We will respond to you as quickly as possible. Make sure your browser is up to date before contacting Makr.</p>
				<br>
			<h5>Do you accept intern/job applications?</h5>
				<p>We hire based only on personal recomendations. Unfortunately we are unable to review any submissions.</p>
				 <br>
			<h5>Press inquiries?</h5>
				<p>For all press inquiries, please contact info@makr.com.</p>
			
    </div>
  </div>
</div>