<% if @cart %>

 <li class="dropdown full-width navbar-right">
                    <a href="#" class="dropdown-toggle" 
                    data-toggle="dropdown">
                    <% if @cart.empty? %>
                        Cart 0
                        <% else %>

                     <%= link_to "Cart #{pluralize @cart.count, "item"}", cart_path %>
                    <% end %>
                    </a>
                    
                </li>

<% end %>
