
   <footer id="footer" class="footer">
      <div class="row">
        <div class="col-xs-12 col-md-2">
         <p class="text-muted">Social links</p>
         <i class="fa fa-instagram" aria-hidden="true"></i>
         <i class="fa fa-facebook-square" aria-hidden="true"></i>
         <i class="fa fa-envelope" aria-hidden="true"></i>

        </div>

        <div class="col-xs-12 col-md-2" id="footer_nav">
            <ul>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jewlery</a>

                              <li><a href="#">Necklace</a></li>
                              <li><a href="#">Bracelets</a></li>
                              <li><a href="#">Ear rings</a></li>
                              <li><a href="#">Ring</a></li>
            </ul>   
                    
        </div>          
             <div class="col-xs-12 col-md-2" id="footer_nav">
            <ul>  
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Beauty</a>
                              <li><a href="#">Nails</a></li>
                              <li><a href="#">Soaps</a></li>
                            
                              <li><a href="#">Handcream</a></li>
                              <li><a href="#">lip balsam</a></li>
                              <li><a href="#">Perfume</a></li>
            </ul>
           
            </div>  
            <div class="col-xs-12 col-md-3" id="footer_nav">
            <ul>                   
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Candle & Home fragance</a>
            </ul>
            <ul>  

             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Home decoure</a>
             </ul>
        </div>                
              <div class="col-xs-12 col-md-2" id="footer_nav">
            <ul>                   
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Info</a>
                            <li><a href="about.html">About</a></li>
                            <li><a href="#">balalb</a></li>
                            <li><a href="#">Stockists</a></li>
                        <li><a href="#">Location</a></li>
                        
                        <li><a href="#">Help</a></li>
                        
                    </ul>
        </div>
      </div>
    </footer>